* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgba(91, 93, 104, 0.705);
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
    
}
.navebar {
    position: relative;
}

.navbaar_3{

    background-color: rgba(109, 109, 116, 0.76);
    width: 95%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin:auto; /* মার্জিন ব্যবহার করে সেন্টারিং */
}
.logo{
    position: absolute;
    cursor: pointer;
    width: 75px;
    border-radius: 50%;
    left: 18px;
    z-index: 1;
    margin-left: 5px;   
}

.dod {
    position: absolute;
    cursor: pointer;
    width: 54px;
    right: 18px;
    margin-top: 6px;
    cursor: pointer;
    background-color: aliceblue;
    visibility: hidden;
}

.logo:hover {
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(175, 171, 209, 0.493);
    transition: .80s;
    padding: 4px;
}


.navbaar_1{
    margin-top: 22px;
    font-size: 18px;
    margin-left: 40px;
}
.navbaar_2{
    margin-top: 12px;
    font-size: 18px;
}

.navbaar_1 li {
    
    display: inline;
    padding: 18px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid ;
    border: .5px solid rgb(5, 238, 5);
    box-shadow: 0px 5px 10px  #07e978;
    outline: 1px solid #7f8585;
    background-color: rgb(130, 139, 139);
    font-size: 22px;
}
.navbaar_2 li {
    text-decoration: none;
    display: inline;
    padding: 18px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid ;
    border: .5px solid rgb(5, 238, 5);
    box-shadow: 0px 5px 10px  #07e978;
    outline: 1px solid #7f8585;
    background-color: rgb(130, 139, 139);
    font-size: 22px;
}

.navbaar_1 li a {
    color: rgb(255, 255, 255);
}
.navbaar_2 li a {
    color: rgb(255, 255, 255);
}

.whats{
    width: 30px;
    
    
      
}

.atical:hover {
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19)s;
    background-color: #4bb480ec;
    color: rgb(187, 172, 172);
    transition: .60s;
}
.navbaar_2 :hover {
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19)s;
    background-color: #17a860ec;
    color: rgb(187, 172, 172);
    transition: .60s;
}

@media (max-width: 1024px) {
    .navbaar_1 li {
        width: 100%;
        font-size: 12px;
    }
    .navbaar_1{
        
        margin-left: 100px;
    }
    .navbaar_2{
        margin: 8px;
    }
    .navbaar_2 li {
        width: 100%;
        font-size: 12px;
    }
    
}
@media (max-width: 768px) {
    .navbaar_1{
        margin-left: 95px;
    }
    .logo{
        margin-left: 0px;
    }
    .navbaar_1 .atical{
        padding: 10px;
    }
    .navbaar_2 .atical{
        padding: 10px;
    }
    .navbaar_1 li {
        width: 100%;
        font-size: 10px;
    }
    .navbaar_2 li {
        width: 100%;
        font-size: 12px;
    }
    
}



@media (max-width: 425px) {

    #navbaar_3{
        display: none;
    }


    .dod{
        margin: 10px;
        position: fixed;
        top: 10px;
        visibility: visible;
    }

    .logo{
        margin-left: 10px;
    }
    .navebar{
        
       width: 100%;
    }
    .navbaar_1{
        margin-top: 5px;
        width: 150px;
        display: flex;
        flex-direction: column;
    }
    .navbaar_2{
        margin-top: 5px;
        width: 150px;
        display: flex;
        flex-direction: column;
    }

    .logo{
        left: 0px;
        
    }
        
}
.all_body{
    width: 95%;
    height: 100vh;
    background-color: #8f9793;
    margin:auto;
}
.pat{
    background-color: #679981;
    margin:auto;
    font-size: 25px;
    margin-top: 5px;
    color: #ffffff;
    padding: 5px; 
}

@media (max-width: 768px) {
    .pat{
        margin:auto;
        font-size: 22px;
        margin-top: 5px; 
    }
    
}

@media (max-width: 425px) {
    .pat{
        margin:auto;
        font-size: 15px;
        margin-top: 5px; 
    }

}

.kabbor{
    position: relative;
    background-color: #61967c;
    
    
}
.heas{
    
    position: absolute;
    font-size: 25px;
    background-color: #61967c;
    color: #ffffff;
    display: block;
    margin-top: 10px;
    
}

.news-ticker {
    overflow: hidden;
    white-space: nowrap;
    background-color: #f1f1f1;
    padding: 10px;
    margin-left: 190px;
    border-radius: 5px;
    margin-right: 10px;

   
}

.news-item {
    
    display: inline-block;
    padding-right: 20px; /* space between news items */
    animation: ticker 25s linear infinite;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}